<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Read status:</strong> <%= book.read_status? ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Listened status:</strong> <%= book.listened_status? ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Wishlist status:</strong> <%= book.wishlist_status? ? 'Yes' : 'No' %>
  </p>
  <%= link_to "Edit this book", edit_book_path(book), class: "btn btn-outline-secondary" %>
  <%= button_to "Destroy this book", book, method: :delete, class: "btn btn-outline-danger", data: { confirm: "Are you sure?" } %>
</div>