<div id="<%= dom_id book %>">
  <h1>
    <strong>Title:</strong>
    <%= book.title %>
  </h1>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Read status:</strong> <%= book.read_status? ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Listened status:</strong> <%= book.listened_status? ? 'Yes' : 'No' %>
  </p>

  <p>
    <strong>Wishlist status:</strong> <%= book.wishlist_status? ? 'Yes' : 'No' %>
  </p>

</div>