<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Read status:</strong>
    <%= book.read_status %>
  </p>

  <p>
    <strong>Listened status:</strong>
    <%= book.listened_status %>
  </p>

</div>
